@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Monoton&family=Nunito:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
:root {
  --bg-color: #f2ffe4;
  --secondary-bg-color: #c7e9b0;
  --text-color: #556b2f;
}
