.recipes_box {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}
.recipes_filter_box {
  border: 2px solid;
  flex: 1;
}
.recipes_card_box {
  flex: 3;
  border: 2px solid teal;
}

.recipes_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.recipes_cards div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  padding: 10px;
}
